name: Scrape

on:
    workflow_dispatch:
    schedule:
        - cron: "16 07 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Powershell Run
        run: ./scrapewiki.ps1
        shell: pwsh
            
      - name: Commit & Push
        uses: Andro999b/push@v1.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          force: true
          message: 'Scraped Data'
